{% extends "base.html" %}

{% block style %}
<style>
    .dp_task_pos {
        margin-top: 120px;
    }
</style>
{% endblock %}

{% block content %}
<div class="container d-flex h-60">
    <div class="col-12 dp_task_pos">
        <div class = "card">
            <div class="card-header">
                <h6 class="text-muted">You will get task here.</h6>    
            </div>
        <div id="task_card">
            <div class='card w-100'>
                <div class="card-body">
                    <h5 class="text-danger">No Task available for you right now</h5>
                </div>
            </div>
        </div>
        </div>

    </div>
</div>
{% endblock %}


{% block javascript %}
<script>
function formatDate(date) {
  var hours = date.getHours();
  var minutes = date.getMinutes();
  var seconds = date.getSeconds();
  var ampm = hours >= 12 ? 'pm' : 'am';
  hours = hours % 12;
  hours = hours ? hours : 12; // the hour '0' should be '12'
  minutes = minutes < 10 ? '0'+minutes : minutes;
  var strTime = hours + ':' + minutes + ':' + seconds + ' ' + ampm;
  return date.getMonth()+1 + "/" + date.getDate() + "/" + date.getFullYear() + "  " + strTime;
}

function task_accepted(taskSocket, message){
    taskSocket.send(JSON.stringify({
        "event": "TASK_ACCEPTED",
        "message": message
    }));
}


function task_declined(taskSocket, message){
    taskSocket.send(JSON.stringify({
        "event": "TASK_DECLINED",
        "message": message
    }));

}

    function connect() {
        var taskSocket = new WebSocket('ws://' + window.location.host + '/ws/task/');

        taskSocket.onopen = function open() {
            console.log('WebSockets connection created.');
            taskSocket.send(JSON.stringify({
                "event": "JOIN",
                "message": "dp"
            }));
        };

        taskSocket.onclose = function (e) {
            console.log('Socket is closed. Reconnect will be attempted in 1 second.', e.reason);
            setTimeout(function () {
                connect();
            }, 1000);
        };
        // Sending the info about the room

        taskSocket.onmessage = function (e) {
            var data = JSON.parse(e.data);
            var message = data['message'];
            let html_content = `<div class = 'card'>
                <div class = "card-header">
                    <p>New Task Recieved:
                         Priority: <span class = "text-danger"> ${message["priority"]}</span>
                    </p>
                </div>
                <div class = "card-body">
                    <h5 class="card-title">${message["title"]}</h5>
                    <p>Created at: ${formatDate(new Date(message["creation_at"])) }</p>
                </div>
                <div class = "card-footer">
                    <button id = "task_accept" 
                        class = "btn btn-primary float-right">Accept</button>
                    <button id = "task_decline" 
                        class = "btn btn-danger float-right">Decline</button>
                </div>
            </div>`
            $("#task_card").html(html_content);
            $("#task_accept").click(function(){
                task_accepted(taskSocket, message);
            })
            $("#task_decline").click(function(){
                task_declined(taskSocket, message);
            })
            console.log(message, data)
        };

        if (taskSocket.readyState == WebSocket.OPEN) {
            taskSocket.onopen();
        }
    }

    $(document).ready(function () {
        connect();
    });
</script>
{% endblock %}