{% extends "base.html" %}
{% load static %}
{% block content %}
{% include "create_task_modal.html" %}
{% include "list_states_modal.html" %}
<div class="container sm_dashboard">
    <div class="row justify-content-end">
        <button type="button" class="btn btn-primary text-right" data-toggle="modal" data-target="#task_modal">
            Create Delivery Task</button>
    </div>
    <br>
    <div class="row">
        <div class='col-md-10 col-sm-12 col-lg-10 offset-md-1'>
            <table class="table table-bordered" id="sm-tasktable">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Created at</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for task in tasks %}
                    <tr data-id="{{task.task.id}}">
                        <td class="title">{{task.task.title}}
                            <span class="badge badge-primary badge-pill current_state">
                                {{task.current_state.state | title}}
                                {% comment %} by {{task.current_state.by}} {% endcomment %}
                            </span>
                        </td>
                        <td>{{task.task.creation_at | date:"d/m/Y g:i:s A" | lower}}</td>
                        <td><button class="btn btn-secondary btn-sm list_state">List States</button><br>
                            {% ifequal task.current_state.state|stringformat:"s" "new" %}
                            <button class="btn btn-danger btn-sm cancel_task">Cancel Task</button>
                            {% endifequal %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

</div>
{% endblock %}

{% block javascript %}
<script src="{% static 'js/sm.js' %}"></script>
{% endblock %}