{% extends "base.html" %}

{% block content %}


{% include "create_task_modal.html" %}
<div class="container">
    <div class="row justify-content-end">
        <button type="button" class="btn btn-primary text-right" data-toggle="modal" data-target="#task_modal">Create
            Delivery Task</button>
    </div>
    <br>
    <div class="row">
        <table class="table table-bordered" id="sm-tasktable">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Created at</th>
                    <th>Created by</th>
                    <th>Buttons</th>
                </tr>
            </thead>
            <tbody>
                {% for task in tasks %}
                <tr>
                    <td hidden class="id hidden">{{task.id}}</td>
                    <td class="title">{{task.title}}</td>
                    <td>{{task.creation_at | date:"d/m/Y g:i:s A" | lower}}</td>
                    <td>{{task.created_by}}</td>
                    <td><button class="btn btn-secondary btn-sm">Check state</button>
                        <button id="cancel_task" class="btn btn-danger btn-sm">Cancel Task</button></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}


{% block javascript %}
<script>
    function task_cancel(taskSocket, message) {
        taskSocket.send(JSON.stringify({
            "event": "TASK_CANCELLED",
            "message": message
        }));
    }

    function display_new_task(taskSocket, message){
        $("#sm-tasktable tbody").append(`<tr>
            <td hidden class = "hidden id">${message["id"]}</td>
            <td class = "title">${message["title"]}</td>
            <td>${formatDate(new Date(message["creation_at"]))}</td>
            <td>${message["created_by"]}</td>
            <td>
            <button class = "btn btn-secondary btn-sm">Check state</button>
            <button id = "cancel_task" class = "btn btn-danger btn-sm">Cancel Task</button>
            </td>
        </tr>`)
    }

    function connect() {
        var taskSocket = new WebSocket('ws://' + window.location.host + '/ws/task/');

        taskSocket.onopen = function open() {
            console.log('WebSockets connection created.');
            taskSocket.send(JSON.stringify({
                "event": "JOIN",
                "message": "sm"
            }));
        };

        taskSocket.onclose = function (e) {
            console.log('Socket is closed. Reconnect will be attempted in 1 second.', e.reason);
            setTimeout(function () {
                connect();
            }, 1000);
        };

        taskSocket.onmessage = function (e) {
            var data = JSON.parse(e.data);
            data = data["payload"];
            var message = data['task'];
            let event = data["event"];
            switch (event) {
                case "NEW_TASK":
                    display_new_task(taskSocket, message);
                    break;
                case "ACCEPTED_TASK":
                    // display_accepted_task(taskSocket, message);
                    break;

                default:
                    console.log("No event")
            }
        };


        $("#cancel_task").click(function () {
            let message = {
                id: $(this).parent().parent().find('.id').text(),
                title: $(this).parent().parent().find('.title').text()
            }
            task_cancel(taskSocket, message);
        })


        if (taskSocket.readyState == WebSocket.OPEN) {
            taskSocket.onopen();
        }

        $('#task_modal').on('shown.bs.modal', function () {
            $('#id_title').focus();
        })
        $("#task_form").submit(function (e) {
            e.preventDefault();
            var serializedData = $(this).serialize();
            $.ajax({
                type: 'POST',
                url: $(this).attr("post_url"),
                data: serializedData,
                success: function (response) {
                    taskSocket.send(JSON.stringify({
                        "event": "CREATE_TASK",
                        "message": {
                            "task": response["task"],
                        }
                    }));

                    $("#task_form")[0].reset();
                    $("#task_modal").modal("hide");
                },
                error: function (response) {
                    console.log(response)
                    let errors = response["responseJSON"]["errors"];
                    $.each(errors, function (key, val) {
                        alert(val[1]);
                        console.log(key, val)
                    })

                    $('#id_title').focus();
                }
            });
        });
    }

    $(document).ready(function () {
        connect();
    });
</script>
{% endblock %}