{% extends "base.html" %}
{% load static %}
{% block style %}
<style>
    .hero {
        background-image:url("{% static 'img/bg2.png' %}");
    }
</style>
{% endblock %}
{% block content %}
<div class = "hero">
<div class="container">
    <div class="row">
        <div class="inner-text col-sm-6 col-md-6 col-lg-12">
            <h1 class="heading">
                Online Ordering<br>
                Simplified for your Restaurant
            </h1>
            <br>
            <p>
                Get your own branded mobile apps and website<br>
                Understand and engage your customers <br>
                through a comprehensive CRM, and much more...<br>
            </p>
            <br>
            <div class="row">
                {% if request.user.is_authenticated %}
                {% if request.user.is_storage_manager %}
                <div class="landing-primary-button">
                    <a class="btn btn-default" href="{% url 'core:storage_manager' %}">Go to Dashboard</a>
                </div>
                {% elif request.user.is_delivery_person %}
                <div class="landing-primary-button">
                    <a class="btn btn-default" href="{% url 'core:delivery_person' %}">Go to Dashboard</a>
                </div>
                {% endif %}
                {% else %}
                <div class="landing-primary-button">
                    <a class="btn btn-default" href="{% url 'core:storage_manager' %}">I am Storage Manager</a>
                </div>
                <div class="landing-primary-button">
                    <a class="btn btn-default" href="{% url 'core:delivery_person' %}">I am Delivery Person</a>
                </div>
                {% endif %}
            </div>
        </div>

    </div>
</div>
</div>

{% endblock content %}