{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container h-60">
    <div class="col-12 dp_task_pos">
        <div class="card">
            <div class="card-header">
                <p class="text-muted">You will get task here.</p>
            </div>
            <div id="new_task_card">
                <div class='card'>
                    <div class="card-body">
                        <h6 class="text-danger">No new Task available for you right now</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-12 dp_acceptedtask_pos">
        <div class="card">
            <div class="card-header">
                <p class="text-muted">Your accepted tasks will be shown below.</p>
            </div>
            <div id="accepted_task_card">
                <div class='card w-100'>
                    <div class="card-body" id="task_accepted_body">
                        {% if pending_tasks %}
                        {% for task in pending_tasks %}
                        <div class='card' data-id="{{task.id}}">
                            <div class="card-body">
                                <h5 class="card-title">{{task.title}}</h5>
                                <p>Created at: {{task.creation_at| date:"d/m/Y g:i:s A"|lower}}</p>
                            </div>
                            <div class="card-footer">
                                <button class="btn btn-primary dp_btn float-right task_completed">
                                    Complete
                                </button>
                                <button class="btn btn-danger dp_btn float-right task_declined">
                                    Decline
                                </button>
                            </div>
                        </div>
                        {% endfor %}

                        {% else %}
                        <h6 class="text-danger" id="no_accepted_task">
                            No pending tasks currently available for you.
                        </h6>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}

{% block javascript %}
<script src="{% static 'js/dp.js' %}"></script>
{% endblock %}