{% extends "base.html" %}
{% load static %}
{% block content %}
{% include "create_task_modal.html" %}
{% include "list_states_modal.html" %}
<div class="container sm_dashboard">
    <div class="row justify-content-end">
        <button type="button" class="btn btn-primary text-right" data-toggle="modal" data-target="#task_modal">
            Create Delivery Task</button>
    </div>
    <br>
    <div class="row">
        <div class='col-md-12 col-sm-12 col-lg-12'>
            <table class="table table-bordered" id="sm-tasktable">
                <thead>
                    <tr>
                        <th>Task</th>
                        <th>Priority</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for task in tasks %}
                    <tr data-id="{{task.task.id}}">
                        <td class="title">{{task.task.title}}
                            <span class="badge badge-secondary current_state" style = "font-size: 9px;">
                                {{task.current_state.state | title}}
                            </span>
                            <br/>
                        <span class = "text-muted" style = "font-size: 10px">Created {{ task.task.creation_at | timesince }} ago</span>
                        </td>
                        <td>{{task.task.priority}}</td>

                        <td><button class="btn btn-secondary btn-sm list_state">List States</button><br>
                            {% ifequal task.current_state "new" %}
                            <button class="btn btn-danger btn-sm cancel_task">Cancel Task</button>
                            {% endifequal %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

</div>
{% endblock %}

{% block javascript %}
<script src="{% static 'js/sm.js' %}"></script>
{% endblock %}